@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 20%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --background-overlay: hsla(217, 12%, 63%, 0.1);
  --background-radiant: radial-gradient(
    circle at top,
    var(--dark-blue),
    var(--very-dark-blue)
  );
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  font-family: 'Overpass', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-image: var(--background-radiant);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
  max-width: 400px;
  border-radius: 20px;
  padding: 25px;
}

.icon {
  background-image: url('./images/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-overlay);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.container h5 {
  font-size: 25px;
  margin: 15px 0;
  padding: 0;
}

.container p {
  font-size: 15px;
  line-height: 25px;
  color: var(--medium-grey);
  width: 90%;
  margin: 10px 0;
}

.ratings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-overlay);
  color: var(--medium-grey);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.rating.selected {
  background-color: var(--light-grey);
  color: var(--white);
}

.container .button {
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.container .button:hover {
  background-color: var(--white);
  color: var(--orange);
  transition: all 0.5s ease;
}

.rating:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: all 0.5s ease;
}

.thank-you {
  display: none;
}

.thank-you.active {
  background-image: var(--background-radiant);
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
  max-width: 400px;
  border-radius: 20px;
  padding: 25px;
}

.thank-you.active .img {
  background-image: url('./images/illustration-thank-you.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 150px;
  width: 150px;
  margin: 0px;
}

.thank-you.active h6 {
  background-color: var(--background-overlay);
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--orange);
  font-size: 15px;
  font-weight: lighter;
}

.thank-you.active h1 {
  margin: 0px;
}

.thank-you.active p {
  text-align: center;
  font-weight: lighter;
  color: var(--light-grey);
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 22px;
}

.container.not-active {
  display: none;
}
